<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>成绩单</title>
  <link rel="stylesheet" href="index.css">
  <script src="jquery/dist/jquery.js" ></script>
</head>

<body>
  <div class="notification">
    <caption>成绩表</caption>
    <table class="strip"  id="score">
      <thead>
          <th data-id="name" data-order="asc">姓名</th>
          <th data-id="chinese"  data-order="asc">语文</th>
          <th data-id="math"  data-order="dec">数学</th>
      </thead>

      <tbody  id="sc">
        {{#each str}}
        <tr>
          <td>{{Name}}</td>
          <td>{{Chinese}}</td>
          <td>{{Math}}</td>
        </tr>
        {{/each}}
      </tbody>

    </table>
  </div>
</body>

<script src="main.js"></script>

</html>
